body {
    background-color: #454545;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
    border: none;
}

.Navegacao {
    padding-top: 12px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.NavegacaoBotao {
    margin-left: 85%;
    border: none;
    height: 40px;
    width: 40px;
}

.NavegacaoImagem {
    height: 40px;
    width: 40px;
}
.NavegacaoImagem:hover{
    cursor: pointer;
}

.VoltarImagem {
    height: 60px;
    width: 60px;
}

.Busca {
    display: flex;
    justify-content: center;
}
.BuscaCheckbox1{
    padding: 9px;
    border-radius: 8px 0 0 8px;
    background-color: #707070
}
.BuscaCheckbox1:hover{
    cursor:pointer;
    background-color: rgba(254, 239, 93, 70);
    transition: ease-in-out 200ms;
}
.BuscaCheckbox1:focus{
    background-color: rgba(254, 239, 93, 70);
}
.BuscaCheckbox2{
    padding: 9px;
    border-radius: 0 8px 8px 0;
    background-color: #707070
}
.BuscaCheckbox2:hover{
    cursor:pointer;
    background-color: rgba(254, 239, 93, 70);
    transition: ease-in-out 200ms;
}
.BuscaCheckbox2:focus{
    background-color: rgba(254, 239, 93, 70);
}

.BuscaDivAll {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    background-color: #202020;
    padding: 10px 20px;
    border: 5px;
    border-radius: 5px;
    border-color: #202020;
}

.BuscaDivParametros {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
}

.BuscaTexto {
    height: 25px;
}

.BuscaBuscar {
    height: 40px;
    width: 40px;
    border: none;
}

.BuscaBuscarImagem {
    height: 40px;
    width: 40px;
}
.BuscaBuscarImagem:hover {
   cursor: pointer;
}

.Itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    overflow-y: scroll;
    height: 70vh;
}

.ItensDivAll {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    background-color: #202020;
    padding: 10px 20px;
    border: 5px;
    border-radius: 5px;
    border-color: #202020;
    color: white;
}

.ItensImagem {
    height: 170px;
    width: 330px;
    border-radius: 4px;
    margin: 10px 0px;
}

.ItensDescricao {
    display: flex;
    flex-direction: column;
}
.Adicionar{
    position: fixed;
    left: 90%;
    top: 85%;
    height: 80px;
    width: 80px;
}