*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 550;
    color: white;
}
body{
    background-color: #454545;
}
.general_div{
    background-color: #202020;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 18px;
    width: 85vw;
    height: 480px;
    position: relative;
}
legend{
    font-size: 24px;
}
label{
    font-size: 18px;
}
input{
    color: black;
    font-weight: 400;
}
.questionario_error{
    margin-left: 160px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 4px;
    width: fit-content;
    color: rgba(255,60,0,50);
  }
  .questionario_success{
    margin-left: 160px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 4px;
    width: fit-content;
    color: rgba(60,255,0,50);
  }
.campo1{
    position: relative;
    border: #202020;
    line-height: 28px;
    display: inline-block;
    margin-left: 160px;
    margin-top: 30px;
}
.campo2{
    position: relative;
    border: #202020;
    line-height: 28px;
    display: inline-block;
    margin-left: 130px;
    margin-top: 30px;
}
.div_partida input{
    width: 350px;
}
.div_destino input{
    width: 350px;
}
.after_fieldsets{
    position: relative;
    border: #202020;
    line-height: 28px;
    display: inline-block;
    margin-left: 160px;
    margin-top: 70px;
}
.after_fieldsets2{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-content: flex-end;
    width: 85vw;
}
.descartar{
    position: absolute;
    display: inline;
    right: 155px;
}
.descartar   input{
    width: 150px;
    background-color: #9D9D9D;
    border-radius: 12px;
    padding: 6px 24px;
    border: none;
}
.descartar input:hover{
    cursor:pointer;
    background-color: rgba(80, 80, 80, 1);
    transition: ease-in-out 300ms;
}
.criar{
    position: absolute;
    display: inline;
    right: 0px;
}
.criar   input{
    width: 150px;
    background-color: rgb(251, 236, 93);
    border-radius: 12px;
    padding: 6px 24px;
    border: none;
}
.criar input:hover{
    cursor:pointer;
    background-color: rgba(80, 80, 80, 1);
    transition: ease-in-out 300ms;
}
.vagas{
    display: inline-block;
}
.horario{
    display: inline-block;
    margin-left: 130px;
}
.data{
    display: inline-block;
}
.valor{
    display: inline-block;
    margin-left: 130px;
}
.vagas input{
    width: 200px;
}
.horario input{
    width: 200px;
}
.data input{
    width: 200px;
}
.valor input{
    width: 200px;
}
;