<% if (errors.length > 0) { %>
    <div class="questionario_error">
        <%= errors[0] %><br>
    </div>
<% } %>

<% if (sucess.length > 0) { %>
    <div class="questionario_success">
        <%= sucess %><br>
    </div>
<% } %>