*{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.barra{
  background-color: black;
}
.questionario_error{
  margin-left: 85px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 4px;
  width: fit-content;
  color: rgba(255,60,0,50);
}
.questionario_success{
  margin-left: 85px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 4px;
  width: fit-content;
  color: rgba(60,255,0,50);
}
ul{
  display: flex;
  width: 100vw;
  flex-direction:row;
  flex-wrap: wrap;
  list-style-type: none;
}
li{
  margin: 20px 32px;
}
.icon{
  margin-right: 35px;
}
.barra a{
  color: white;
}
.barra a:hover{
  background-color: rgb(251, 236, 93);
  transition: ease-in-out 300ms;
}
.barra img{
  margin-top: 10px;
  width: 40px;
  height: 40px;
}
.barra .login{
  margin-left: auto;
  margin-right: 5%;
  text-align: center ;
}
.barra .login:hover{
  background-color: black;
}
a{
  text-decoration: none;
  color: black;
}
.home{
text-align: start;
}
section{
  text-align: center;
  background-color: #202020;
  color: white;
  height: 70vh;
  width: 100vw;
}
section img{
  
  position: absolute;
  height: 70vh;
  width: 100vw;
}
section p{
  margin: 3%;
}
.carona{
  position: relative;
  background-color:rgb(251, 236, 93);
  border-radius: 12px;
  text-align: center;
  width: fit-content;
  height: auto;
  padding: 12px 8px;
  top: 80%;
  margin-left: auto;
  margin-right: auto;
}
.carona:hover{
  background-color: rgba(80, 80, 80, 1);
  transition: ease-in-out 300ms;
}
.segurança{
  background-color: #454545;
}
