<%- include('includes/head'); %>
<link rel="stylesheet" href="/assets/css/create_account.css">
<section>
    <fieldset >
        <legend>Cadastre já a sua conta</legend>
        <form method="POST" action="/cadastro/cadastro">
            <%- include('includes/messages'); %>
            <input type= "hidden" name= "_csrf" value= "<%= csrfToken%>">
            <div class="questionario">
                <div>
                    <label>Nome Completo:</label><br>
                    <input type="text" name="nome">
                </div>
                <div>
                    <label>Data de Nascimento:</label><br>
                    <input type="date" name="data_nascimento">
                </div>
                <div>
                    <label>Sexo:</label><br>
                    <input type="radio" name="sexo" value="masculino">Masculino
                    <input type="radio" name="sexo" value="feminino">Feminino
                </div>
                <div>
                    <label>Celular:</label><br>
                    <input type="tel" name="celular">
                </div>
                <div>
                    <label>Email:</label><br>
                    <input type="text" name="email">
                </div>
                <div>
                    <label>Senha:</label><br>
                    <input type="password" name="senha">
                </div>
                <div>
                    <label>Possui Carro ?</label><br>
                    <input type="radio" name="carro" value="sim">Sim
                    <input type="radio" name="carro" value="não">Não
                </div>
                <div>
                    <label>CNH:</label><br>
                    <input type="text" name="cnh">
                </div>
                <div class="marca">
                    <label>Marca do Veículo:</label><br>
                    <input type="text" name="marca_do_veiculo">
                </div>
                <div class="modelo">
                    <label>Modelo do Veículo:</label><br>
                    <input type="text" name="modelo_do_veiculo">
                </div><br>
                <div class="placa">
                    <label>Placa do Veículo:</label><br>
                    <input type="text" name="placa_do_veiculo">
                </div>
                <div class="capacidade">
                    <label>Capacidade:</label><br>
                    <input type="number" name="capacidade_do_veiculo">
                </div>
            </div>
            <div class="botões">
                <a href="/login/index" class="descartar"><input type="button" value="Descartar"></a>
                <a class="criar"><input type="submit" value="Criar"></a>
            </div>
        </form>
    </fieldset>
</section>
<%- include('includes/footer'); %>